@charset "UTF-8";
@keyframes loader {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes defilement-rtl {
  0% {
    transform: translate3d(0, 0, 0);
    /* position initiale à droite */
  }
  100% {
    transform: translate3d(-100%, 0, 0);
    /* position finale à gauche */
  }
}
/* la rotation de mon img loader*/
@keyframes rotate {
  from {
    -webkit-transform: rotate(360deg);
  }
  to {
    -webkit-transform: rotate(0deg);
  }
}
  
#loader {
  display: flex;
  justify-content: center;
  flex: 2;
  flex-direction: column;
  align-items: center;
  background: #f6f6f6;
  width: 100%;
  height: 100%;
  position: fixed;
  /*page site en arriere plan*/
  z-index: 9999;
  top: 0;
  left: 0;
  pointer-events: none;
  animation: defilement-rtl 3s ease-in-out 2s forwards;
}
#loader .logo1 {
  margin-top: 200px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
#loader .logo1 img {
  max-width: 200px;
  position: absolute;
  animation: rotate 1.5s linear;
}
#loader .slogan1 {
  display: flex;
  justify-content: center;
  text-align: center;
  max-height: 100vh;
  border-radius: 10px;
  background: #9356DC;
  line-height: 3rem;
  font-family: "Shrikhand";
  color: white;
  font-size: 1rem;
  margin-top: 50px;
  padding: 20px;
}
/* Box sizing*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* List*/
ul {
  list-style: none;
}

/*Media*/
img {
  max-width: 100%;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

/*Polices et size*/
body,
html {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 1.6rem;
  font-weight: 400;
}

h1 {
  font-weight: 900;
  font-size: 1.6rem;
  padding: 20px 40px;
}

h2 {
  font-weight: 500;
  font-size: 1.6rem;
  padding: 20px 20px;
}

figcaption,
p {
  font-family: "Roboto";
  font-size: 1.2em;
  font-weight: 300;
}

h3 {
  font-family: "Roboto";
  font-size: 1.3rem;
  font-weight: 700;
}

p {
  font-size: 1.2rem;
}

.num {
  font-weight: bold;
}
/*Code couleur*/
/* font */
/* Margin */

/* Header */
header {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .logo {
  height: 1.9rem;
}

.maps {
  background: #eaeaea;
  display: flex;
  justify-content: center;
  flex: 1;
  align-items: center;
}
.maps__icon {
  width: 15px;
}
.maps__search input {
  width: 150px;
  border: none;
  outline: none;
  background-color: #eaeaea;
  font-size: 1rem;
  padding: 15px 0px 15px 0px;
  text-align: center;
  font-weight: bold;
}

#accueil {
  background: #f6f6f6;
  width: 100%;
}

.slogan {
  text-align: center;
}
.slogan p {
  font-size: 1.1em;
}
.slogan__btn {
  background: linear-gradient(to bottom, #ff79da, #e86edb, #cf64dc, #b35cdc, #9356dc);
  border: 1px solid transparent;
  border-radius: 30px;
  color: white;
  width: 220px;
  height: 50px;
  font-size: 1.1rem;
  border: none;
  cursor: pointer;
  font-weight: 500;
  box-shadow: 4px 4px 6px #332f2f;
  margin: 20px 0 50px;
}
.slogan button:hover {
  background-color: #ae80e5;
  background-blend-mode: lighten;
  box-shadow: 4px 4px 6px #000;
}

.action h2 {
  padding: 40px 0 10px 20px;
}

/* MediaQuery*/


