   //loader
   @keyframes loader {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

//défilement horizontal
@keyframes defilement-rtl {
    0% {
        transform:translate3d(0, 0, 0);
        /* position initiale à droite */
    }
    100% {
        transform:translate3d(-100%, 0, 0);
        /* position finale à gauche */
    }
}

// card new
@keyframes clignote {
    50% {
        opacity: 0;
    }
}

//Décalage ouverture sur page menu
@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(40px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


/* la rotation de mon img loader*/
@keyframes rotate {
    from {
        -webkit-transform: rotate(360deg);
    }
    to {
        -webkit-transform: rotate(0deg);
    }
}

/* Coloration coeur */
@keyframes heart {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}
